.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.navbar-brand {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.jumbotron {
  background-image:url('http://i.imgur.com/wjFNmGF.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f7f7f7;
  margin-bottom: 0px;
}

.jumbotron .container {
  position: relative;
  top:40px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 60px;  
  font-family: 'Lobster', cursive;
  font-weight: bold;
}

.jumbotron p {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  color: #fff;
}

.about-me {
  padding: 30px;
}

.about-me h3 {
  font-family: 'Cabin', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.about-me a {
  color: #D14867;
}

.about-me p {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
}

.button {
  padding-bottom: 30px;
  text-align: center;
}

.btn {
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #D14867;
  border-radius: 25px;
  background: transparent;
}

.btn-default {
  border: 3px solid #D14867;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  box-shadow: none;
}

.btn a {
  color: #D14867;
}

.contact {
  background-color: #AAC6D7;
  padding: 30px;
}

.contact h3 {
  font-family: 'Cabin', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.contact a {
  color: #D14867;
}

.contact p {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
}

.huntnews {
  font-family: 'Cabin', sans-serif;
  padding-top: 65px;
}

/*ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 150px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 150px;
}

span.text-content {
  background: rgba (0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0
  width: 150px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list li: hover span.text-content {
  opacity: 1;
}*/