.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.navbar-brand {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.jumbotron {
  background-image:url('http://i.imgur.com/wjFNmGF.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f7f7f7;
  margin-bottom: 0px;
}

.jumbotron .container {
  position: relative;
  top:40px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 60px;  
  font-family: 'Lobster', cursive;
  font-weight: bold;
}

.jumbotron p {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  color: #fff;
}

.about-me {
  padding: 30px;
}

.about-me h3 {
  font-family: 'Cabin', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.about-me a {
  color: #D14867;
}

.about-me p {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
}

.contact {
  background-color: #AAC6D7;
  padding: 30px;
}

.contact h3 {
  font-family: 'Cabin', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.contact a {
  color: #D14867;
}

.contact p {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
}
}